<h1>New Post</h1>
<form action="/posts" method="post">
  <p>Name: <input type="text" name="name"></p>
  <p>Content: <input type="text" name="content"></p>
  <input type="submit" value="submit">
</form>